@model IEnumerable<NewsItem>

@foreach (var item in Model)
{
    <li class="news-item">
        <div class="news-title">
            <a href="@item.Link" target="_blank">@item.Title</a>
        </div>
        <span class="news-meta">
            @item.Source &mdash; @item.PublishDate.LocalDateTime.ToString("f")
        </span>

        
        @* Display original RSS summary *@
        @if (!string.IsNullOrWhiteSpace(item.Summary))
        {
            <div class="news-summary">@item.Summary</div>
        }
        
        @if (!string.IsNullOrWhiteSpace(item.Content))
        {
            <div class="news-content">@item.Content</div>
        }
    </li>
}